body{
	background-image: url(../photos/casino-background-8qquteicsfz2c1i0.jpg);
	background-attachment: fixed;
	background-size: cover;
	height: 100%; 
	background-position: center;
	background-repeat: no-repeat;
	font-family: 'Roboto Slab';
}

@font-face {
    font-family: 'Roboto Slab';
    src: url(../fonts/RobotoSlab-VariableFont_wght.ttf);
}

#menu{
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	
	transform: translate(-50%, -50%);
	border: solid 4px #b3b3b3;
	
	width: 80%;
	height: 50%;
	border-radius: 10px;
	background: #dfdfdf;
	opacity: 0.92;	
}

#title{
	margin: 0;
	position: absolute;
	top: 19%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: Arial, Helvetica, sans-serif;
	color: #ffffff;
	font-size: 90px;
	padding-bottom: 10%;
}

.player, .playerGame{
	position: absolute;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	color: #ffffff;
	top: 15%;
	font-size: 25px;
	border: solid 4px #b3b3b3;
	width: 25.5%;
	height: 23%;
	border-radius: 5px;
	font-weight: 700;
	background-color: #020202;
}

.playerGame{
	height: 50%;
}

#playerOne{
	left: 7%;
	top: 30%;
	border-radius: 10px;
}

#playerTwo{
	left: 38%;
	top: 30%;
	border-radius: 10px;
}

#playerThree{
	left: 69%;
	top: 30%;
	border-radius: 10px;
}

.playerInput{
	width: 140px;
	height: 22px;
	position: relative;
	top: 40%;
	border: none;
	border-radius: 10px;
	background-color: #ffffff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: rgb(51, 51, 51);
	text-transform: uppercase;
}

.playerInput:focus, #rounds:focus{
	outline: none;
}

#submit, #results, .roll{
	position: absolute;
	margin: 0;
	top: 85%;
	left: 51%;
	border-radius: 10px;
	
	transform: translate(-50%, -50%);
	background-color: #000000;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 23px;
	font-family: Arial, Helvetica, sans-serif;
	cursor: pointer;
}

.playerTitle{
	text-transform: uppercase;
	position: relative;
	top: 15%;
}


#userOne, #userTwo, #userThree{
	font-size: 33px;
}

.score, .rollsLeft{
	position: relative;
	top: 13%;
	font-size: 20px;
}

.rollsLeft{
	top: 26%;
}

.roll{
	padding: 10px 20px;
	font-size: 21px;
	top: 115%;
}



.disabled{
	cursor: not-allowed;
	background-color: #b3b3b3;
}

.dicePic{
	position: relative;
	top: 70%;
}





.number{
	margin: 0;
	position: absolute;
	left: 50%;
	
	transform: translate(-50%, -50%);
	font-family: 'Casino';
	color: white;
	font-size: 80px;
	top: 3%;
}

.name{
	margin: 0;
	position: absolute;
	left: 50%;
	
	transform: translate(-50%, -50%);
	font-family: Roboto Slab;
	color: #57443f;
	font-size: 25px;
	font-weight: 700;
	text-transform: uppercase;
}

#secondPlayer{
	top: 30%;
}

#firstPlayer{
	top: 20%;
}

#thirdPlayer{
	top: 45%;
}

#secondScore{
	top: 45%;
}

#firstScore{
	top: 30%;
}

#thirdScore{
	top: 70%;
}

#timeWrapper{
	position: absolute;
	top: 1%;
	right: 1%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: white;
	display: inline-table;
}
#time{
	display: table-cell;
}

#submit:hover, .roll:hover, #results:hover{
	transition: 0.5s;
	background-color: #b3b3b3;
}

#rounds, #roundsTitle{
	position: absolute;
	
	font-family: Arial, Helvetica, sans-serif;
	justify-content: center;
	display: flex;
	flex-flow: row;
	width: 100%;
	height: 100%;
	align-items: center;
}

#rounds{
	width: 60px;
	height: 22px;
	font-family: Arial, Helvetica, sans-serif;
	
	border: none;
	
	background-color: #fcfcfc;
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	font-size: 16px;
	border-radius: 15px;
}

#roundsWrapper{
	position: absolute;
	font-family: Arial, Helvetica, sans-serif;
	color: #fcfcfc;
	border: solid 4px #b3b3b3;
	border-radius: 10px;
	font-weight: 700;
	background-color: #000000e8;
	width: 30%;
	height: 10%;
	left: 35%;
	top: 5%;
	font-size: 18.5px;
	font-weight: 700;
}

input, select{
	text-align: center;
}